/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fafafa;
} 

h1, h2, h3, h4, ul, li, a, p, input, label, button, div, footer {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #444;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}
.btn{
  border-radius: 36px;
  background: #FEE996;
}
button{
  margin-top: 30px;
  border-radius: 36px;
  background: #FEE996;
  border:0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.recipes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 80px;
  margin: 80PX AUTO;
  max-width: 1200px;
}
.recipe{
  display: inline-block;
  border-radius: 20px;
  background: white;
  position: relative;
  text-align: center;
  padding: 0 20px 30px 20px
}
